.tagContainer{
  
    border: 1px dashed black;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagItem {
    background-color: #d1d1d1;
    margin: .2rem;
}