.topBarContainer{
    min-width: 100%;
    height: 50px;
    border: 1px dotted black;
    display: flex;
    padding: 2%;
}

.topBarControls{   
    display: flex;
    justify-content: flex-end;
    margin-right: 1%
}